---
title: Dax Tricks - About
layout: 'base.njk'
---

      <section class="hero">
        <div class="container flow">
          <div class="hero__content flow">
            <h1 class="section-title-hero">About Me</h1>
            <p class="hero-text">
              This blog is run by Marc Mason, based out of Leeds in the UK. I've been playing with DAX (and PowerBI) for the better part of 5 years.
            </p>
            <p class="hero-text">
              Outside of work I cycle often, brew my own beer and play around with other programming languages, my current interests being Python & Javascript.
            </p>
            <div class="flex-group  hero-buttons">
              <a href="#Programming" class="btn btn--primary-hero"
                >Featured articles</a
              >
              <a href="#Beer" class="btn btn--neutral-hero"
                >Beer</a
              >
            </div>
          </div>
          <div>
            <img src="assets/face.jpeg" alt="" class="hero__image" />
          </div>
        </div>
      </section>

      <section id="Programming" class="programming">
        <div class="container flow">
          <h2 class="section-title text-center">Programming</h2>
          <p class="text-center">
            Here is some stuff about programming...
          </p>
          <ul role="list" class="articles__list flow">
  {%- for post in collections.programming | reverse -%}
    {% include 'article-snippet.njk' %}
  {%- endfor -%}
</ul>
        </div>
      </section>
        <section id="Beer" class="beer">
        <div class="container flow">
          <h2 class="section-title text-center">Beer</h2>
          <p class="text-center">
            Here is some stuff about beer...
          </p>
          <ul role="list" class="articles__list flow">
  {%- for post in collections.beer | reverse -%}
    {% include 'article-snippet.njk' %}
  {%- endfor -%}
</ul>
        </div>
      </section>
  {% include 'contact.njk' %}